<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="./buy.component.css">
    </head>
    <body>


        <h1 class="titulo">COMPRA</h1> 

        <aside class="producto">
            
            <section class="imagenes">
                
                <div class="Espacio">
                    <br> <br> <br>
                    <img class="img1" style="border: 2px; color:black;" src="../../../assets/imagen_buy.png"  >
                    <br> <br> <br>
                    <img class="img2" style="border: 2px; color:black;" src="../../../assets/imagen_buy.png"  >
                    <br> <br> <br>
                    <img class="img3" style="border: 2px; color:black;" src="../../../assets/imagen_buy.png"  >
                    <br> <br> <br>
                    <img class="img3" style="border: 2px; color:black;" src="../../../assets/imagen_buy.png"  >
                </div>

            </section>
                
            <section class="imgpro">
                    <div>

                        <img class="img4" style="border: 2px; color:black;" src="../../../assets/imagen_buy.png"  >
                    </div>
            </section>

            <section class="especificaciones">

                <div>
                    <h1 class="titulo2">Nombre del Producto</h1>

                    <h3 class="precio"> $ 150.000</h3>

                    <h4 class="pregunta">¿Cuanto demora el envio?</h4>

                    <div class="boton">
                        <button class="boton1" ><h5 class="textoboton">Agregar al carrito</h5></button> <label> <input type="number" name="username"></label> 
                    </div>

                        

                    <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Est consequatur mollitia maxime quisquam sequi quibusdam 
                        reiciendis consectetur perferendis ut, libero, sed suscipit veritatis, expedita labore? 
                        Dicta facere quod voluptatum illum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere odio, error sunt doloribus repudiandae
                        id quaerat illo dignissimos natus ab nostrum rem autem illum neque laboriosam quidem architecto! Labore, provident?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa repellendus accusantium et nulla iste quam reiciendis beatae cupiditate, 
                        tenetur, iusto ipsam omnis nobis, sequi harum odio ipsum sunt dignissimos dolor!
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum aperiam neque numquam, eos dignissimos veritatis nobis architecto commodi eaque 
                        sint dolorum consequuntur? Dolorem, optio qui error iure perspiciatis reiciendis eum.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam repudiandae sit harum fuga ipsa enim animi accusantium labore tempora explicabo 
                        molestiae, officia pariatur totam quas nemo sed vitae laborum omnis.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet eum sunt nisi veritatis nobis ea ratione, natus fuga consectetur maiores
                        porro quod? Saepe sit ea quibusdam excepturi quidem aliquid modi.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cupiditate magnam error quisquam, officia corrupti placeat. Dicta, beatae alias
                        blanditiis, vitae placeat vel quasi obcaecati harum expedita sequi sunt illo?
                    </p>

                    <div class="botones">
                        <button style="height: 30 ; height: 30;"><img src="../../../assets/compartir_buy.png" width="24" height="24"></button>
                        <button style="height: 30 ; height: 30;"><img src="../../../assets/facebook_buy.png" width="24" height="24"></button>
                        <button style="height: 30 ; height: 30;"><img src="../../../assets/twiter_buy.png" width="24" height="24"></button>
                        <button style="height: 30 ; height: 30;"><img src= "../../../assets/mensaje_buy.png" width="24" height="24"></button>  
                    </div>
        
                </div>
                    
            </section>

        </aside>


        <section class="promo">
        
            <section>
                
                <h4 class="titulo1" style="color: red;" >¡TAMBIEN TE PODRIAN GUSTAR!</h4>

                <div class="otroproducto">
                    <img style="border: 2px; color:black;" src="../../../assets/imagen_buy.png"  >
                    <img style="border: 2px; color:black;" src="../../../assets/imagen_buy.png"  >
                    <img style="border: 2px; color:black;" src="../../../assets/imagen_buy.png"  >
                    <img style="border: 2px; color:black;" src="../../../assets/imagen_buy.png"  >
                </div>
            
            </section>

            <section class="promo2" >
            

                <div>
                    <h4>Nombre</h4>
                    <h5>Descripcion</h5>
                    <button style="width: 25; height: 35;">PRECIO</button>
                </div>

                <div>
                    <h4>Nombre</h4>
                    <h5>Descripcion</h5>
                    <button style="width: 25; height: 35;">PRECIO</button>
                </div>

                <div>
                    <h4>Nombre</h4>
                    <h5>Descripcion</h5>
                    <button style="width: 25; height: 35;">PRECIO</button>
                </div>

                <div>
                    <h4>Nombre</h4>
                    <h5>Descripcion</h5>
                    <button style="width: 25; height: 35;">PRECIO</button>
                </div>

            </section>

        </section>

        <main>

            <section class="promociones">

        
                <div class="promo4">
                    <img class="img5" src="../../../assets/imagen_buy.png"  >
                </div>

                <div class="titulos">
                    <h5 class="titulo3">Unete a nuestra familia y obten un 10% de</h5> 
                    <h5 class="titulo4">descuento en tu primera compra</h5>
                </div>
            </section>

        </main>

        <section class="pagos">

            <div>
                <img src="../../../assets/pago_buy.png" width="100" height="50">
                <h5>Medios de Pago</h5>
            </div>

            <div>
                <img src="../../../assets/pago_buy.png" width="100" height="50">
                <h5>Some Text</h5>
            </div>

            <div>
                <img src="../../../assets/pago_buy.png" width="100" height="50">
                <h5>Pago-contraentrega</h5>
            </div>

            <div>
                <img src="../../../assets/pago_buy.png" width="100" height="50">
                <h5>productos de innovacion</h5>
            </div>

        </section>

        <section class="condiciones">
            <h6>Terminos y condiciones</h6>         <H6>politicas de envio</H6>
        </section>  

    </body>
<html>