<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pagina-principal.component.css">
</head>
<body>
    
    <main>
        <section id="banner">
            <img src="../../../assets/banner_index.jpg">
            <div class="contenedor">
                <h2><strong>Lo más buscado</strong></h2>
                <a href="./pages/buy.html"><strong>Ver artículo</strong></a>
        </div>
        </section>

        <section id="bienvenidos">
            <h2><strong>Bienvenidos a nuestra tienda</strong></h2>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique 
                ipsa dolores culpa cupiditate. Ad natus facilis quisquam nihil. 
                Culpa ex ea nulla illo? Molestias laboriosam, magnam distinctio 
                corporis neque laudantium.</p>
        </section>

        <section id="categorias">
            <h3><strong>Lo último de nuestra tienda</strong></h3>
            <div class="contenedor">
                <article>
                    <a href="./pages/buy.html">
                        <img style="border: 2px solid; color: black;" src="../../../assets/celulares_accesorios_index.jpg">
                    </a>
                    <h4>Celulares Y Accesorios</h4>
                </article>
                <article>
                    <a href="./pages/buy.html"><img style="border: 2px solid; color: black;" src="../../../assets/belleza_cuidado_personal_index.jpg"></a>
                    <h4>Belleza Y Cuidado Personal</h4>
                </article>
                <article>
                    <a href="./pages/buy.html"><img style="border: 2px solid; color: black;" src="../../../assets/hogar_index.jpg"></a>
                    <h4>Hogar</h4>
                </article>
                <article>
                    <a href="./pages/buy.html"><img style="border: 2px solid; color: black;" src="../../../assets/promociones_index.jpg"></a>
                    <h4>!Promociones!</h4>
                </article>
            </div>
        </section>  
        <br id="anclapromo">
        <section id="masVendidos">
            <h3 style="color: red;">Productos Más Vendidos</h3>
            <div class="contenedor">
                <article>
                    <img style="border: 2px solid; color: black;" src="../../../assets/imagen_index.jpg">
                    <h4>Descripción Producto</h4>
                    <h4><a href="./pages/buy.html"><input type="button" style="border: 1px solid; color: black;" value="Precio"></a></h4>
                </article>
                <article>
                    <img style="border: 2px solid; color: black;" src="../../../assets/imagen_index.jpg">
                    <h4>Descripción Producto</h4>
                    <h4><a href="./pages/buy.html"><input type="button" style="border: 1px solid; color: black;" value="Precio"></a></h4>
                </article>
                <article>
                    <img style="border: 2px solid; color: black;" src="../../../assets/imagen_index.jpg">
                    <h4>Descripción Producto</h4>
                    <h4><a href="./pages/buy.html"><input type="button" style="border: 1px solid; color: black;" value="Precio"></a></h4>
                </article>
                <article>
                    <img style="border: 2px solid; color: black;" src="../../../assets/imagen_index.jpg">
                    <h4>Descripción Producto</h4>
                    <h4><a href="./pages/buy.html"><input type="button" style="border: 1px solid; color: black;" value="Precio"></a></h4>
                </article>
            </div>
        </section>

        <section id="opinionesClientes">
            <h3 style="color: red;">Opiniones de los Clientes en Redes</h3>
            <div class="contenedor">
                <article>
                    <a href="./index.html#redes"><img style="border: 2px solid; color: black;"bac src="../../../assets/imagen_index.jpg"></a>
                    <h3 style="border: 1px solid; color: red;"># Likes</h3>                   
                </article>
                <article>
                    <a href="./index.html#redes"><img style="border: 2px solid; color: black;" src="../../../assets/imagen_index.jpg"></a>
                    <h3 style="border: 1px solid; color: red;"># Likes</h3>                   
                </article>
            </div>

        </section>

        <h2 style="color: red; background-color: black;" align="center">Unete a Nuestra Familia<br>
            ¡¡Y Obtén un 10% de Descuento en tu Primera Compra!!</h2>

        <section id="info">
            <h3>Medios de Pago</h3>
            <div class="contenedor">
                <div class="info-pagos">
                    <a href="#"><img src="../../../assets/transferencia_bancaria_index.jpg" alt=""></a>
                    <h4>Transferencia Bancaria</h4>
                </div>
                <div class="info-pagos">
                    <a href="#"><img src="../../../assets/paypal__index.jpg" alt=""></a>
                    <h4>Paypal</h4>
                </div>
                <div class="info-pagos">
                    <a href="#"><img src="../../../assets/contra_entrega_index.jpg" alt=""></a>
                    <h4>Contra Entrega</h4>
                </div>
            </div>
        </section>
    </main>

</body>
</html>