<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./admin.component.css">
    </head>
    <body>
        <div class="contenido-global">
            <div class="contenido-superior">
            </div>

                <div class="contenido-pagina">
                    <div class="contenido-botones">
                        <div class="caja-botones-1">
                            <div class="caja-h1">
                                <h1>Editar Home</h1>
                            </div>
                            <div class="navegacion-botones-1">
                                <form class="formulario-1">
                                    <div class="div-0">
                                        <label class="label-0">Guardar cambios</label>
                                        <input type="submit"><br>
                                    </div><p>
                                    
                                    <div class="div-0">
                                        <label class="label-0">Cargar imagen/ video</label>-->
                                        <input type="file" name="cargar archivo"><br><br>
                                    </div><p>

                                    <label>Nombre del producto</label>--><p>
                                    <textarea></textarea><p>
                                    <label>Caracteristicas</label>--><p>
                                    <textarea></textarea><p>
                                    <label>Precio</label>
                                    <div class="div-1">
                                        <input type="number">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="caja-botones-2">
                            <div class="navegacion-botones-2">
                                <form class="formulario-2">
                                    <div>
                                        <label class="label-0">Agregar elemento</label>
                                        <input type="button"><br><br>
                                    </div><p>
                                    <div>
                                       <label class="label-0">Editar elemento</label>
                                        <input type="button"><br><br>
                                    </div><p>
                                    <div>
                                        <label class="label-0">Eliminar elemento</label>
                                        <input type="button">
                                    </div><p>
                                </form>
                            </div>

                        </div>

                    </div>
                    <div class="contenido-imagenes">
                        <div class="caja-1">
                                <img class="imagen-1" src="../../../assets/imagen_index.jpg" alt="" height="200" width="300"><br><br>
                        </div>
                        <div class="caja-2">
                            <img class="imagen-2" src="../../../assets/imagen_index.jpg" alt="" height="200" width="300"><br><br>
                        </div>
                        <div class="caja-3">
                            <img class="imagen-3" src="../../../assets/imagen_index.jpg" alt="" height="200" width="300"><br><br>
                        </div>
                        <div class="caja-4">
                            <img class="imagen-4" src="../../../assets/imagen_index.jpg" alt="" height="200" width="300"><br><br>
                        </div>
                        <div class="caja-5">
                            <img class="imagen-5" src="../../../assets/imagen_index.jpg" alt="" height="200" width="300"><br><br>
                        </div>
                    </div>
        
                </div>
        </div>

    </body>
</html>