<app-header></app-header>
<router-outlet></router-outlet>


<br><br><br><br>



<footer>
  <div class="contenedor">
      <p class="copy"><iframe style="color:black;" align="center" width="60" height="60" src="http://maps.google.co.uk/maps?q=IED+Gonzalo+Arango+bogota&amp;output=embed"></iframe>
          Dominio Digital WS &copy; 2021
          <a href="#">
            <img src="../assets/facebook_buy.png" alt="facebook" width="30" height="30">
          </a>  
          <a href="#">
            <img src="../assets/twiter_buy.png" alt="facebook" width="30" height="30">
          </a>  
          <a href="#">
            <img src="../assets/compartir_buy.png" alt="facebook" width="30" height="30">
          </a>  
      </p>
  </div>
</footer>